body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  width: 760px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

form {
  margin-top: 1rem;
}

form input[type="text"],
form input[type="text"] {
  background-color: transparent;
  color: white !important;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
